

<a class="pull-left" href="#">
  <img class="media-object" src="/assets/images/anonuser.jpg" style="width: 64px; height: 64px;"/>
</a>
<div class="media-body">
  <% @user = comment.user %>
  <h4 class="media-heading"><%= @user.username %></h4>
  <i>
    <%= comment.created_at.strftime('%b %d, %Y at %H:%M')  %>
  </i>
  <p>
    <%= simple_format comment.content %>
  </p>



  <%= form_for [@commentable, Comment.new] do |f| %>
 <%= f.hidden_field :parent_id, :value => comment.id %>
 <%= f.label :content, "Reply" %>
 <%= f.text_area :content %>
 <%= f.submit  "Reply" %>
<% end %>

  <%= nested_comments comment.children %>
</div>



    

