<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>
    <div class="jumbotron text-right">
    <%= render 'layouts/header' %>
</div>
    
    <div class="container">
      <div class="row">
        <div class="span2 offset2 well">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

</html>


 